
.btn  {
    display: inline-block ;
    height: 48px;
    width: 189px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    text-align: center;
    margin:8px 16px;
    cursor: pointer;
    
}
.btn_primary {
    background: var(--blue);
    color: var(--white);
}
.btn_secondary {
    background: var(--purple);
    color: var(--white);

}
.btn_alternate {
    border: 1px solid #ACB5BD
    color: var(--black);
}
.btn:disabled{
    opacity: 0.5;
    cursor:default;
}